
<div class="d-flex align-items-center justify-content-center z-0">
    <div class="relative">    
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                <div class="absolute inset-0">
                    <img class="h-full w-full object-cover" src="https://images.unsplash.com/photo-1586473219010-2ffc57b0d282?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80">
                    <div class="absolute inset-0 bg-gradient-to-r from-yellow-500 to-yellow-200" style="mix-blend-mode: multiply;"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center text-4xl font-extrabold tracking-tight sm:text-5xl lg:text-6xl">
                        <span class="block text-white">
                            Manage your tasks
                        </span>
                        <span class="block text-yellow-200">
                            like a pro
                        </span>
                    </h1>
                    <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-200 sm:max-w-3xl">
                        With tasker you can manage your tasks so you will never get lost!! Add, edit and set work done with the simplicity to keep you focused on what matters the most.
                    </p>
                    <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                        <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                            <% if !user_signed_in? %>
                                <%= link_to "Start Tasking", new_user_registration_path, class: "home_btn" %>
                                <%= link_to "Sign in", new_user_session_path, class: "home_btn_alt" %>
                            <% else %>
                                <%= link_to "Start Tasking", new_task_path, class: "home_btn" %>
                                <%= link_to "Your Tasks", tasks_path, class: "home_btn_alt" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


